<!-- INCLUDECSS {T_THEME_PATH}/claymore/bootstrap.min.css -->
<!-- INCLUDECSS {T_THEME_PATH}/claymore/colorpicker.min.css -->
<!-- INCLUDECSS {T_THEME_PATH}/claymore/select.min.css -->
<!-- INCLUDECSS {T_THEME_PATH}/claymore/highlight.min.css -->
<!-- IF $LIGHTBOX == 1 -->
<!-- INCLUDECSS {T_THEME_PATH}/claymore/lightbox.min.css -->
<!-- ENDIF -->
<!-- IF $VALUE_SLIDER == 1 -->
<!-- INCLUDECSS {T_THEME_PATH}/claymore/slider.min.css -->
<!-- ENDIF -->
<!-- IF $THEME_FILE == 1 -->
<!-- INCLUDECSS {T_THEME_PATH}/claymore/bootstrap-theme.min.css -->
<!-- ENDIF -->

<!-- INCLUDEJS {T_THEME_PATH}/claymore/progressbar.min.js -->
<!-- INCLUDEJS {T_THEME_PATH}/claymore/bootstrap.min.js -->
<!-- INCLUDEJS {T_THEME_PATH}/claymore/autosize.min.js -->
<!-- INCLUDEJS {T_THEME_PATH}/claymore/pace.min.js -->
<!-- INCLUDEJS {T_THEME_PATH}/claymore/jquery.pjax.js -->
<!-- INCLUDEJS {T_THEME_PATH}/claymore/js.cookie.min.js -->
<!-- INCLUDEJS {T_THEME_PATH}/claymore/bootbox.min.js -->
<!-- INCLUDEJS {T_THEME_PATH}/claymore/colorpicker.min.js -->
<!-- INCLUDEJS {T_THEME_PATH}/claymore/select.min.js -->
<!-- INCLUDEJS {T_THEME_PATH}/claymore/highlight.min.js -->
<!-- IF $LIGHTBOX == 1 -->
<!-- INCLUDEJS {T_THEME_PATH}/claymore/lightbox.min.js -->
<!-- DEFINE $INCLUDED_LIGHTBOXJS = true -->
<!-- ENDIF -->
<!-- IF $VALUE_SLIDER == 1 -->
<!-- INCLUDEJS {T_THEME_PATH}/claymore/slider.min.js -->
<!-- ENDIF -->
<!-- IF $AUTOSAVE == 1 -->
<!-- INCLUDEJS {T_THEME_PATH}/claymore/autosave.min.js -->
<!-- ENDIF -->
<!-- INCLUDEJS {T_THEME_PATH}/claymore/claymore.js -->
