<div class="jumpbox row">
	<div class="col-xs-6">
		<!-- IF S_VIEWTOPIC -->
			<a href="{U_VIEW_FORUM}" class="btn btn-default" accesskey="r">
				<i class="fa fa-angle-{S_CONTENT_FLOW_BEGIN} fa-fw" aria-hidden="true"></i><span>{L_RETURN_TO_FORUM}</span>
			</a>
		<!-- ELSEIF S_VIEWFORUM -->
			<a href="{U_INDEX}" class="btn btn-default" accesskey="r">
				<i class="fa fa-angle-{S_CONTENT_FLOW_BEGIN} fa-fw" aria-hidden="true"></i><span>{L_RETURN_TO_INDEX}</span>
			</a>
		<!-- ELSEIF SEARCH_TOPIC -->
			<a class="btn btn-default" href="{U_SEARCH_TOPIC}" accesskey="r">
				<i class="fa fa-angle-{S_CONTENT_FLOW_BEGIN} fa-fw" aria-hidden="true"></i><span>{L_RETURN_TO_TOPIC}</span>
			</a>
		<!-- ENDIF -->
	</div>
	<!-- IF S_DISPLAY_JUMPBOX -->
		<div class="col-xs-6">
			<div class="btn-group pull-right">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" title="<!-- IF S_IN_MCP and S_MERGE_SELECT -->{L_SELECT_TOPICS_FROM}<!-- ELSEIF S_IN_MCP -->{L_MODERATE_FORUM}<!-- ELSE -->{L_JUMP_TO}<!-- ENDIF -->" >
					<!-- IF S_IN_MCP and S_MERGE_SELECT -->{L_SELECT_TOPICS_FROM}<!-- ELSEIF S_IN_MCP -->{L_MODERATE_FORUM}<!-- ELSE -->{L_JUMP_TO}<!-- ENDIF --> <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<!-- BEGIN jumpbox_forums -->
						<!-- IF jumpbox_forums.FORUM_ID neq -1 -->
							<li><a href="{jumpbox_forums.LINK}" class="<!-- IF jumpbox_forums.level -->jumpbox-sub-link<!-- ELSEIF jumpbox_forums.S_IS_CAT -->jumpbox-cat-link<!-- ELSE -->jumpbox-forum-link<!-- ENDIF -->"><!-- BEGIN level --><span class="spacer"></span><!-- END level --> <span><!-- IF jumpbox_forums.level --> &#8627; &nbsp;<!-- ENDIF --> {jumpbox_forums.FORUM_NAME}</span></a></li>
						<!-- ENDIF -->
					<!-- END jumpbox_forums -->
				</ul>
			</div>
		</div>
	<!-- ENDIF -->
</div>
