<div class="panel panel-default">
	<div class="panel-heading">
		<h3 id="review" class="panel-title">
			<span class="pull-right"><a href="#topic" onclick="viewableArea(getElementById('topicreview'), true);" class="btn btn-xs btn-default expander"><i class="fa fa-expand fa-fw" aria-hidden="true"></i></a></span>
			{L_MESSAGE_HISTORY}{L_COLON}
		</h3>
	</div>
	<!-- EVENT ucp_pm_history_review_before -->
	<div id="topicreview" class="panel-body no-margin-bottom">
		<script type="text/javascript">
		// <![CDATA[
			bbcodeEnabled = {S_BBCODE_ALLOWED};
		// ]]>
		</script>
		<!-- BEGIN history_row -->
			<div class="panel panel-default no-margin-bottom">
				<div class="panel-heading">
					<h3 class="panel-title">
						<a href="{history_row.U_VIEW_MESSAGE}" <!-- IF history_row.S_CURRENT_MSG -->class="current"<!-- ENDIF -->>{history_row.SUBJECT}</a>
					</h3>
					<!-- DEFINE $SHOW_PM_HISTORY_POST_BUTTONS = (history_row.U_QUOTE or history_row.MESSAGE_AUTHOR_QUOTE) -->
					<!-- EVENT ucp_pm_history_post_buttons_list_before -->
					<!-- IF $SHOW_PM_HISTORY_POST_BUTTONS -->
						<span class="pull-right btn-group panel-right">
							<!-- EVENT ucp_pm_history_post_buttons_before -->
							<!-- IF history_row.U_QUOTE or history_row.MESSAGE_AUTHOR_QUOTE -->
								<a <!-- IF history_row.U_QUOTE -->href="{history_row.U_QUOTE}"<!-- ELSE -->href="#postingbox" onclick="addquote({history_row.MSG_ID}, '{history_row.MESSAGE_AUTHOR_QUOTE}', '{LA_WROTE}', {time:{history_row.MESSAGE_TIME},user_id:{history_row.USER_ID}});"<!-- ENDIF --> title="{L_QUOTE} {history_row.MESSAGE_AUTHOR}" class="button button-icon-only">
									<i class="fa fa-quote-left fa-fw" aria-hidden="true"></i><span class="sr-only">{L_QUOTE} {history_row.MESSAGE_AUTHOR}</span>
								</a>
							<!-- ENDIF -->
							<!-- EVENT ucp_pm_history_post_buttons_after -->
						</span>
					<!-- ENDIF -->
					<!-- EVENT ucp_pm_history_post_buttons_list_after -->
				</div>
				<div class="panel-body post-content" id="pr{history_row.MSG_ID}">
					<div class="post-head">
						<p class="author"><span><i class="fa fa-file fa-fw" aria-hidden="true"></i><span class="sr-only">{history_row.MINI_POST}</span></span> {L_SENT_AT}{L_COLON} <strong>{history_row.SENT_DATE}</strong>
						<br />
						{L_MESSAGE_BY_AUTHOR} {history_row.MESSAGE_AUTHOR_FULL}</p>
					</div>
					<div class="content">{history_row.MESSAGE}</div>
					<div id="message_{history_row.MSG_ID}" style="display: none;">{history_row.DECODED_MESSAGE}</div>
				</div>
			</div>
		<!-- END history_row -->
	</div>
	<!-- EVENT ucp_pm_history_review_after -->
	<div class="panel-footer clearfix">
		<div class="to-top pull-right"><a href="#postingbox" class="top"><i class="fa fa-chevron-up fa-fw" aria-hidden="true"></i></a></div>
	</div>
</div>
