<div class="form-group">
	<label class="control-label col-md-4" for="avatar_remote_url">{L_LINK_REMOTE_AVATAR}:</label>
	<div class="col-md-6">
		<input type="url" name="avatar_remote_url" id="avatar_remote_url" value="{AVATAR_REMOTE_URL}" class="form-control" data-reset-on-edit="#avatar_remote_width, #avatar_remote_height" />
		<span class="help-block">{L_LINK_REMOTE_AVATAR_EXPLAIN}</span>
	</div>
</div>

<div class="form-group">
	<label class="control-label col-md-4">{L_LINK_REMOTE_SIZE}{L_COLON}</label>
	<div class="col-md-6">
		<div class="form-group">
			<label class="col-md-2 control-label" for="avatar_remote_width">Width</label>
			<div class="col-md-3">
				<input type="number" name="avatar_remote_width" id="avatar_remote_width" value="{AVATAR_REMOTE_WIDTH}" class="form-control" />
				<span class="control-label" style="line-height: 34px">{L_PIXEL}</span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label" for="avatar_remote_height">Height</label>
			<div class="col-md-3">
				<input type="number" name="avatar_remote_height" id="avatar_remote_height" value="{AVATAR_REMOTE_HEIGHT}" class="form-control" />
			</div>
			<span class="control-label" style="line-height: 34px">{L_PIXEL}</span>
			<span class="help-block">{L_LINK_REMOTE_SIZE_EXPLAIN}</span>
		</div>
	</div>
</div>
