<div class="form-group">
	<label class="control-label col-md-4" for="avatar_gravatar_email">{L_GRAVATAR_AVATAR_EMAIL}{L_COLON}</label>
	<div class="col-md-6">
		<input type="email" name="avatar_gravatar_email" id="avatar_gravatar_email" value="{AVATAR_REMOTE_URL}" class="form-control" data-reset-on-edit="#avatar_remote_width, #avatar_remote_height" />
		<span class="help-block">{L_GRAVATAR_AVATAR_EMAIL_EXPLAIN}</span>
	</div>
</div>

<div class="form-group">
	<label class="control-label col-md-4">{L_GRAVATAR_AVATAR_SIZE}{L_COLON}</label>
	<div class="col-md-6">
		<div class="form-group row">
			<label class="col-md-2 control-label" for="avatar_gravatar_width">Width</label>
			<div class="col-md-3">
				<input type="number" name="avatar_gravatar_width" id="avatar_gravatar_width" value="{AVATAR_GRAVATAR_WIDTH}" class="form-control" />
				<span class="control-label" style="line-height: 34px">{L_PIXEL}</span>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-md-2 control-label" for="avatar_gravatar_height">Height</label>
			<div class="col-md-3">
				<input type="number" name="avatar_gravatar_height" id="avatar_gravatar_height" value="{AVATAR_GRAVATAR_HEIGHT}" class="form-control" />
				<span class="control-label" style="line-height: 34px">{L_PIXEL}</span>
				<span class="help-block">{L_GRAVATAR_AVATAR_SIZE_EXPLAIN}</span>
			</div>
		</div>

	</div>
</div>
